:root {
  --color-font: #213560;
  --color-border-error: rgba(252,25,25, 1);
  --color-bg-error: rgba(252,25,25, 0.2);
  --color-blue: #2e50b6;
  --color-green: rgb(129,199,132);
  --color-green-light: rgba(129,199,132,0.5);
  --color-gray: rgba(0, 0, 0, 0.1);
  --color-gray-dark: rgba(0, 0, 0, 0.4);
}