@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-font);
  font-family: sans-serif;
}

input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
input+label::before {
  box-sizing: border-box;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--color-gray-dark);
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
}

input:checked+label::before {
  box-sizing: border-box;
  border: 4px solid var(--color-blue);
}
