<template>
  <div>
      <div class="groupName">
        <p>{{group.title}}</p>
        <div
          class="showButton" 
          @click="showQuestion = !showQuestion"
        >
          <img :src="showQuestion ? require('~/assets/icons/minus.svg') : require('~/assets/icons/plus.svg')" alt="">
          <p>{{showQuestion ? 'Show less' : 'Show more'}}</p>
        </div>
      </div>
      <div v-if="showQuestion">
        <div
          v-for='(question, questionIndex) in group.questions'
          :key='questionIndex'
        >
          <div class="question">{{question.question}}</div>
          <div class="answer">{{question.answers[question.selectedAnswer]}}</div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  props:{
    group: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      showQuestion: false
    }
  }
}
</script>

<style lang="scss" scoped>
.groupName {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-blue);
  font-size: 14px;
  font-weight: bold;

  img {
    margin-right: 5px;
  }
}

.question {
  font-weight: bold;
  margin: 20px 0;
}

.answer {
  margin: 20px 0;
  color: var(--color-gray-dark);
}
</style>
