<template>
  <div>
    <div class="progressWrapper">
      <ProgressLine
          v-for="(group, index) in groups"
          :key="index"
          :progress="100"
        />
    </div>
    <h2 class="answerTitle">Answers overview</h2>
    <p class="answerSubTitle">Here you can see and change your answers</p>
    <div
      v-for="(group, groupIndex) in groups"
      :key='groupIndex'
      class="currentGroup"
    >
      <AnswerList
        :group='group'
      />
    </div>
  </div>
</template>

<script>
import AnswerList from "@/components/AnswerList.vue";
import ProgressLine from '@/components/ProgressLine.vue'

export default {
  components: {
    AnswerList,
    ProgressLine
  },
  props:{
    groups: {
      type: Array,
      default: () => []
    }
  },
}
</script>

<style lang="scss" scoped>
.progressWrapper {
  display: flex;
  column-gap: 8px;
}

.currentGroup {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-gray);
}

.answerTitle,
.answerSubTitle {
  margin: 10px 0;
}

</style>