<template>
  <div class="error">
    Please provide answer
  </div>
</template>

<style lang="scss" scoped>
.error {
  margin: 15px;
  border: 1px solid var(--color-border-error);
  border-radius: 5px;
  padding: 15px;
  width: 90%;
  text-align: center;
  background-color: var(--color-bg-error);
}
</style>
