<template>
  <div class="questionWrapper">
    <div>
      <div class="progressBar">
        <ProgressLine
          v-for="(group, index) in groups"
          :key="index"
          :progress="
            currentGroup == index ? progress : currentGroup > index ? 100 : 0
          "
        />
      </div>
      <div class="groupName">
        <p class="groupTitle">{{ title }}</p>
        <p class="progressNumber">{{ progress }}% completed</p>
      </div>
    </div>
    <div class="question">
      <div class="questionTitle">
        {{ question.question }}
      </div>
      <div class="pointer" v-for="(answer, index) in question.answers" :key="index">
        <input
            :id='answer'
            type="radio"
            :name="title"
            :value="index"
            v-model="selectedAnswer"
          />
        <label :for='answer' class="pointer">
          {{ answer }}
        </label>
      </div>
    </div>
    <ErrorMessage v-if="!isHiddenErrorMessage" />
    <div>
      <button
        class="nextButton"
        @click="
          [lastTestQuestion ? goToNextQuestion() : $emit('handleShowAnswers')]
        "
      >
        {{ lastTestQuestion ? 'Next question' : 'show answers' }}
      </button>
      <button
        class="previousButton"
        v-show="!firstTestQuestion"
        @click="goToPreviousQuestion"
      >
        {{ 'Previous question' }}
      </button>
    </div>
  </div>
</template>

<script>
import ErrorMessage from '@/components/ErrorMessage.vue'
import ProgressLine from '@/components/ProgressLine.vue'

export default {
  components: {
    ErrorMessage,
    ProgressLine,
  },
  props: {
    group: {
      type: Object,
      default: () => {},
    },
    groups: {
      type: Array,
      default: () => [],
    },
    firstGroup: {
      type: Boolean,
      default: true,
    },
    lastGroup: {
      type: Boolean,
      default: false,
    },
    currentGroup: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      questionsItemNumber: 0,
      isHiddenErrorMessage: true,
    }
  },
  computed: {
    title() {
      return this.group?.title || ''
    },
    questions() {
      return this.group?.questions || []
    },
    question() {
      return this.questions[this.questionsItemNumber] || {}
    },
    firstGroupQuestion() {
      return this.questionsItemNumber === 0 && this.firstGroup
    },
    firstTestQuestion() {
      return this.firstGroupQuestion && this.firstGroup
    },
    lastGroupQuestion() {
      return this.questionsItemNumber >= this.questions.length - 1
    },
    lastTestQuestion() {
      return !this.lastGroup || !this.lastGroupQuestion
    },
    selectedAnswer: {
      get() {
        return this.question.selectedAnswer
      },
      set(value) {
        this.submitAnswer(value)
      },
    },
    progress() {
      return Math.round(
        (this.questionsItemNumber / this.questions.length) * 100
      )
    },
  },
  methods: {
    goToNextQuestion() {
      if (!this.selectedAnswer && this.selectedAnswer !== 0) {
        this.isHiddenErrorMessage = false
        return
      }

      this.isHiddenErrorMessage = true
      this.questionsItemNumber >= this.questions.length - 1
        ? this.goToNextGroupQuestions()
        : this.questionsItemNumber++
    },
    goToPreviousQuestion() {
      this.isHiddenErrorMessage = true
      this.questionsItemNumber === 0
        ? this.goToPreviousGroupQuestions()
        : this.questionsItemNumber--
    },
    goToNextGroupQuestions() {
      if (this.lastGroupQuestion) this.questionsItemNumber = 0
      this.$emit('goToNextGroup')
    },
    goToPreviousGroupQuestions() {
      this.$emit('goToPrevioustGroup')
      this.questionsItemNumber = this.questions.length - 1
    },
    submitAnswer(selectedAnswerIndex) {
      this.$store.commit('ADD_ANSWER', {
        title: this.title,
        question: this.question.question,
        selectedAnswer: selectedAnswerIndex,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.questionWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nextButton {
  cursor: pointer;
  background-color: var(--color-blue);
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.previousButton {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
  color: var(--color-blue);
  font-size: 16px;
  text-decoration: underline;
}

.pointer {
  margin: 5px 0;
  cursor: pointer;
}

.progressBar {
  display: flex;
  width: 100%;
  column-gap: 8px;
}

.questionTitle,
.groupTitle {
  font-weight: bold;
}

.groupName {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.groupTitle {
  font-size: 14px;
}

.progressNumber {
  opacity: 0.6;
}
</style>
