<template>
  <progress
      class="progress" 
      max="100" 
      :value='progress'
    ></progress>
</template>

<script>
export default {
  props: {
    progress: {
      type: Number,
      default: 0
    }
  },
}
</script>

<style lang="scss" scoped>
.progress[value] {
  margin: 10px 0;
  height: 5px;
  border-radius: 0;
  width: 100%;
}

.progress[value]::-webkit-progress-bar {
  background-color: var(--color-green-light);
}
.progress[value]::-webkit-progress-value {
  background-color: var(--color-green);
}
</style>