<template>
  <div class="container">
    <div class="wrapper">
      <h1>Suitability Test</h1>
      <GroupQuestions
        v-if="!showAnswers"
        :group="group"
        :firstGroup="firstGroup"
        :lastGroup="lastGroup"
        :currentGroup='groupsItemNumber'
        :groups='groups'
        @goToNextGroup="goToNextGroup"
        @goToPrevioustGroup="goToPrevioustGroup"
        @handleShowAnswers="handleShowAnswers"
      />
      <AnwersOverview v-else :groups="groups" />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import GroupQuestions from '@/components/GroupQuestions.vue'
import AnwersOverview from '@/components/AnwersOverview.vue'

export default {
  components: {
    GroupQuestions,
    AnwersOverview,
  },
  data() {
    return {
      showAnswers: false,
      groupsItemNumber: 0,
    }
  },
  computed: {
    ...mapGetters(['getGroups']),
    group() {
      return this.getGroups[this.groupsItemNumber]
    },
    groups() {
      return this.getGroups
    },
    lastGroup() {
      return this.groupsItemNumber >= this.groups.length - 1
    },
    firstGroup() {
      return this.groupsItemNumber === 0
    },
  },
  methods: {
    ...mapActions(['getData']),
    goToNextGroup() {
      if (!this.lastGroup) this.groupsItemNumber++
    },
    goToPrevioustGroup() {
      if (!this.firstGroup) this.groupsItemNumber--
    },
    handleShowAnswers() {
      this.showAnswers = true
    },
  },
  mounted() {
    this.getData()
  },
}
</script>

<style lang="scss" scoped>
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 10px;
  width: 50%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px) {
    width: 70%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
</style>
